<header class="h-100">
  <mdb-navbar SideClass="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar intro-fixed-nav"
    [containerInside]="true">
    <mdb-navbar-brand>
      <a class="logo navbar-brand" href="#">
        <strong>AUCA</strong>
      </a>
    </mdb-navbar-brand>
    <links>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active waves-light" mdbWavesEffect>
          <a class="nav-link" href="#auca">Sobre
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item waves-light" mdbWavesEffect>
          <a class="nav-link" href="#apoie">Apoie</a>
        </li>
        <li class="nav-item waves-light" mdbWavesEffect>
          <a class="nav-link" href="#noticia">Notícias</a>
        </li>
        <li class="nav-item waves-light" mdbWavesEffect>
          <a class="nav-link" href="#endereco">Contato</a>
        </li>
      </ul>
    </links>
  </mdb-navbar>
  <!-- Main -->
  <div class="view intro-2">
    <div class="full-bg-img">
      <div class="mask rgba-purple-light flex-center">
        <div class="container text-center white-text wow fadeInUp">
          <h2>A.U.C.A</h2>
          <p> Uma associação para cegos adventícios e/ou adquiridos com o intuito de promover atividades que
            desenvolvam a sua autonomia, independência e vontade de dar continuidade a vida.</p>
        </div>
      </div>
    </div>
  </div>
  <!-- /.Main -->
</header>
<!--Main Navigation-->

<!--Main Layout-->
<main>
  <div class="container">
    <section id="auca">
      <div class="row">
        <div class="col-sm-4 col-lg-3">
          <nav id="navbar-example3" class="navbar navbar-light deep-purple lighten-4 flex-column mt-4">
            <nav mdbScrollSpy="scrollspy2" class="nav nav-pills flex-column">
              <a mdbScrollSpyLink="item-1" class="nav-link my-1" href="#item1">Quem somos</a>
              <a mdbScrollSpyLink="item-2" class="nav-link my-1" href="#item2">Objetivos</a>
              <a mdbScrollSpyLink="item-3" class="nav-link my-1" href="#item3">Missão</a>
              <a mdbScrollSpyLink="item-4" class="nav-link my-1" href="#item4">Visão</a>
              <a mdbScrollSpyLink="item-5" class="nav-link my-1" href="#item5">Valores</a>
            </nav>
          </nav>
        </div>

        <div class="col-sm-8 col-lg-9">
          <div data-spy="scroll" class="scrollspy-example deep-purple lighten-4 z-depth-1 mt-4 px-4" data-target="#navbar-example3"
            data-offset="0">
            <h5 mdbScrollSpyElement="scrollspy2" class="py-2" id="item1"><strong>Quem somos ?</strong></h5>
            <p>A A.U.C.A é uma associação para cegos adventícios e/ou adquiridos com o intuito de promover atividades
              que
              desenvolvam a sua autonomia, independência e vontade de dar continuidade a vida.
              Como profissionais da saúde começamos nossa ONG pensando em como seria para alguém que passou a vida
              cuidando, não poder mais desenvolver isto por uma ocasião que o deixou sem a visão?
              Como poderíamos mostrar para essas pessoas que elas ainda podem exercer boas funções na sociedade, que a
              vida delas continua, e que existem milhares de coisas que elas ainda podem fazer, e serem as melhores
              nisso?
              Com este intuito nasceu a AUCA que é focada para esses profissionais da saúde que precisam reaprender a
              vida, com um novo “olhar”.
              A AUCA promove dinâmicas e aulas que ensinam novamente a seguir em frente e da melhor maneira possível.
              Somos uma ONG família, então nossas lideranças são liberal, democrática e paternalista, mantendo assim um
              bom convívio para transmitir as melhores energias para quem nos visita, seguimos a linha de teoria das
              relações humanas pois buscamos a motivação pessoal, qualidade na assistência e boa comunicação entre
              gestor
              e sua equipe.</p>
            <h5 mdbScrollSpyElement="scrollspy2" class="py-2" id="item2">Objetivos</h5>
            <p>O principal objetivo da AUCA é devolver a autonomia, e a auto estima, dar valor e atenção a essas
              pessoas
              para que elas possam voltar a se sentirem as melhores naquilo que elas desenvolverem.</p>
            <h5 mdbScrollSpyElement="scrollspy2" class="py-2" id="item3">Missão</h5>
            <p>Promover a autonomia de maneira humanizada, e contínua para o maior número de pessoas que pudermos
              atingir.</p>
            <h5 mdbScrollSpyElement="scrollspy2" class="py-2" id="item4">Visão</h5>
            <p>Torna-se uma das melhores ONG’s de inclusão mantendo, valores, moralidade e humanização sendo assim
              reconhecida mundialmente.</p>
            <h5 mdbScrollSpyElement="scrollspy2" class="py-2" id="item5">Valores</h5>
            <p>Contribuição positiva com a comunidade dos cegos, respeito com os parceiros, colaboradores, e
              voluntários,
              assegurar o melhor tratamento a quem nos procura e continuar com nossos princípios morais.</p>
          </div>
        </div>
      </div>

    </section>

    <div class="row">
      <div class="col-12 text-center my-5">
        <h1 class="display-3"> Organograma </h1>
      </div>
      <div class="col-lg-12 mt-3">
        <!-- Featured image -->
        <div align="center" class="z-depth-2 mb-lg-0 mb-4">
          <img class="img-fluid" src="assets/carousel/orga.png" alt="Depoimento Gerson">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 text-center my-5">
        <h1 class="display-3">Nossa Equipe</h1>
      </div>
    </div>
    <!--Carousel Wrapper-->
    <mdb-carousel [isControls]="true" [animation]="'slide'">
      <!--First slide-->
      <mdb-carousel-item>
        <img class="d-block w-100" src="../assets/equipe/lilian.png" alt="Lilian">
      </mdb-carousel-item>
      <!--/First slide-->
      <!--Second slide-->
      <mdb-carousel-item>
        <img class="d-block w-100" src="../assets/equipe/ariane1.png" alt="Ariane">
      </mdb-carousel-item>
      <!--/Second slide-->
      <!--Third slide-->
      <mdb-carousel-item>
        <img class="d-block w-100" src="../assets/equipe/erika.png" alt="Erika">
      </mdb-carousel-item>
      <!--/Third slide-->
      <!--Third slide-->
      <mdb-carousel-item>
        <img class="d-block w-100" src="../assets/equipe/raquel.png" alt="Raquel">
      </mdb-carousel-item>
      <!--/Third slide-->
      <!--Third slide-->
      <mdb-carousel-item>
        <img class="d-block w-100" src="../assets/equipe/camila.png" alt="Camila">
      </mdb-carousel-item>
      <!--/Third slide-->
    </mdb-carousel>
    <!--/.Carousel Wrapper-->

    <section class="my-5">
      <div class="container">
        <div class="row">
          <div class="col-12 text-center mt-1">
            <h2 class="h1-responsive font-weight-bold text-center my-5">Depoimento</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-5 mt-3">
            <!-- Featured image -->
            <div class="view overlay rounded z-depth-2 mb-lg-0 mb-4">
              <img class="img-fluid" src="../assets/equipe/prof_.jpeg" alt="Depoimento Gerson">
              <a>
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
          </div>
          <!-- Grid column -->
          <div class="col-lg-7 mt-5">

            <h4 class="font-weight-bold mb-3">Gerson</h4>
            <h6 class="font-weight-bold grey-text mb-3">Professor </h6>
            <!-- Excerpt -->
            <p>“Eu, Gerson Alencar da Silva, 45 anos, em 2014, descobri que estava com catarata em ambos os olhos,
              sendo que o olho direito eu enxergava só 5% e poderia comprometer o olho esquerdo, durante o trajeto a
              minha residência, mil pensamentos negativos passaram “e agora vou ficar cego”, como vou trabalhar,
              relutei por um ano, até que a minha visão começou a ficar comprometida e decidi operar, operei o olho
              direito em abril de 2015 e foi a melhor decisão da minha vida, pois além da cirurgia ser rápida eu
              resolveria o problema de Miopia e em maio de 2016 operei o olho esquerdo e passei a utilizar um óculos
              multifocal e passei a enxergar muito melhor e comisso melhorou a minha qualidade de vida.”</p>
          </div>
        </div>
      </div>
    </section>
    <div class="row">
      <div class="col-12 text-center my-5">
        <h1 class="display-3"> Grade Curricular </h1>
      </div>
      <div class="col-lg-12 mt-3">
        <!-- Featured image -->
        <div align="center" class="z-depth-2 mb-lg-0 mb-4">
          <img class="img-fluid" src="../assets/grade/of.jpeg" alt="Grade Curricular">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
      </div>
    </div>
    <section class="apoie text-center" id="apoie">
      <div class="container">
        <div class="row">
          <div class="col-12 text-center my-5">
            <h1 class="display-4">Faça a diferença. Apoie!</h1>
            <p>Você gosta de ajudar as pessoas? Acredita que um mundo melhor é formado por gente que pensa no próximo?
              Se a sua resposta foi sim, aproveite a oportunidade para fazer a diferença com a A.U.C.A..</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <!--Card-->
            <mdb-card cascade="true" narrower="true">

              <!--Card image-->
              <div class="view-cascade overlay waves-light" mdbWavesEffect>
                <mdb-card-img src="../assets/doac/unica.jpeg.png"></mdb-card-img>
                <a>
                  <div class="mask rgba-white-slight"></div>
                </a>
              </div>
              <!--/Card image-->

              <mdb-card-body cascade="true" class="text-center">
                <!--Card content-->
                <h5 class="pink-text">Doação</h5>
                <!--Title-->
                <h4 class="card-title">Única</h4>
                <!--Text-->

                <mdb-card-text>
                  A Doação Única é uma forma pontual de ajudar financeiramente o trabalho da
                  A.U.C.A.
                </mdb-card-text>

                <a class="btn btn-unique blue darken-4" mdbWavesEffect>Fazer Doação</a>

              </mdb-card-body>
              <!--/.Card content-->

            </mdb-card>
            <!--/.Card-->
          </div>

          <div class="col-md-4">
            <!--Card-->
            <mdb-card cascade="true" narrower="true">

              <!--Card image-->
              <div class="view-cascade overlay waves-light" mdbWavesEffect>
                <mdb-card-img src="../assets/doac/mes.png"></mdb-card-img>
                <a>
                  <div class="mask rgba-white-slight"></div>
                </a>
              </div>
              <!--/Card image-->

              <mdb-card-body cascade="true" class="text-center">
                <!--Card content-->
                <h5 class="pink-text">Doação</h5>
                <!--Title-->
                <h4 class="card-title">Mensal</h4>
                <!--Text-->

                <mdb-card-text>
                  Os Mantedores A.U.C.A são as pessoas que fazem doações mensais e recorrentes para
                  a instituição, garantindo o financiamento de atividades, alimentação entre outros custos.
                </mdb-card-text>

                <a class="btn btn-unique waves-light" mdbWavesEffect>Fazer Doação</a>

              </mdb-card-body>
              <!--/.Card content-->

            </mdb-card>
            <!--/.Card-->
          </div>

          <div class="col-md-4">
            <!--Card-->
            <mdb-card cascade="true" narrower="true">

              <!--Card image-->
              <div class="view-cascade overlay waves-light" mdbWavesEffect>
                <mdb-card-img src="../assets/doac/capa.png"></mdb-card-img>
                <a>
                  <div class="mask rgba-white-slight"></div>
                </a>
              </div>
              <!--/Card image-->

              <mdb-card-body cascade="true" class="text-center">
                <!--Card content-->
                <h5 class="pink-text">Voluntariado</h5>
                <!--Title-->
                <h4 class="card-title">Você quer ser um voluntário?</h4>
                <!--Text-->

                <mdb-card-text>
                  Aqui você pode! Mostre suas habilidades para nos ajudar, venha fazer parte desse time.
                </mdb-card-text>

                <a class="btn btn-unique orange darken-4" mdbWavesEffect>Quero ser voluntário</a>

              </mdb-card-body>
              <!--/.Card content-->
            </mdb-card>
            <!--/.Card-->
          </div>
        </div>
      </div>
    </section>
    <!-- Criando Noticias-->
    <section class="noticia rgba-bluegrey-slight" id="noticia">
      <div class="py-5 my-4" id="features-1">
        <div class="container text-left text-center">
          <div class="row">
            <div class="col">
              <h2 class="display-4 mb-5 pb-4">Notícias</h2>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-4">
              <div class="card card-lg mb-3 mb-lg-0">
                <div class="card-body text-center rgba-green-strong">
                  <!-- Title -->
                  <h4 class="card-title">Almoço beneficente</h4>
                  <!-- Text -->
                  <ul class="card-text list-iconed">
                    <li>Sábado 20/10 ás 12:30hrs</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="card card-lg rgba-pink-strong card-active mb-3 mb-lg-0">
                <div class="card-body text-center">
                  <!-- Title -->
                  <h4 class="card-title">Mutirão arrecadação de alimentos</h4>
                  <!-- Text -->
                  <ul class="card-text list-iconed">
                    <li>Sábado 27/10 ás 11hrs</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="card card-lg rgba-yellow-strong">
                <div class="card-body text-center">
                  <!-- Title -->
                  <h4 class="card-title">Evento “SEU NOVO TALENTO” aprendizes mostram seus talentos</h4>
                  <!-- Text -->
                  <ul class="card-text list-iconed">
                    <li>Domingo 28/10 das 9 hrs ás 18 hrs.</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Criando Parceiros-->
    <section class="parceiros">
      <div class="fp-tableCell">
        <div class="section section-top">
          <!-- Triangles -->
          <div class="bg-triangle bg-triangle-dark bg-triangle-left bg-triangle-top"></div>
          <div class="bg-triangle bg-triangle-dark bg-triangle-right bg-triangle-bottom"></div>

          <!-- Content -->
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-md-8 col-lg-6">
                <!-- Heading -->
                <h1 class="display-4 text-center">Parceiros</h1>

                <!-- Subheading -->
                <p class="text-center text-muted text-left mb-5 animate" data-toggle="animation" data-animation="fadeUp"
                  data-animation-order="1" data-animation-trigger="fpAfterLoad">
                  Conheça alguns dos nossos parceiros!</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <!-- Item -->
                <div class="text-center mb-5">
                  <!-- Icon -->
                  <div class="text-primary mb-4 animate" data-toggle="animation" data-animation="fadeUp"
                    data-animation-order="1" data-animation-trigger="fpAfterLoad">
                    <img src="../assets/logo/cruz%5D.jpg" alt="Cruz Vermelha" height="250px" width="220px">
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <!-- Item -->
                <div class="text-center mb-5">
                  <!-- Icon -->
                  <div class="text-primary mb-4 animate" data-toggle="animation" data-animation="fadeUp"
                    data-animation-order="2" data-animation-trigger="fpAfterLoad">
                    <img src="../assets/logo/fiap.jpg" alt="" height="230px" width="220px">
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <!-- Item -->
                <div class="text-center mb-5">
                  <!-- Icon -->
                  <div class="text-primary mb-4 animate" data-toggle="animation" data-animation="fadeUp"
                    data-animation-order="3" data-animation-trigger="fpAfterLoad">
                    <img src="../assets/logo/poiesis.jpg" alt="Poiesis" height="230px" width="220px">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--Criando endereco -->
    <section class="endereco" id="endereco">
      <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6 text-center">
          <!-- Heading -->
          <h1 class="display-4">Nosso Endereço</h1>
          <a href="https://www.google.com.br/maps/place/R.+Pamplona+-+Jardim+Paulista,+S%C3%A3o+Paulo+-+SP,+04002-010/@-23.5706375,-46.657368,475a,35y,39.12t/data=!3m1!1e3!4m13!1m7!3m6!1s0x94ce59c5f5ce07c9:0xdedcbca2b61cdf75!2sR.+Pamplona+-+Jardim+Paulista,+S%C3%A3o+Paulo+-+SP,+04002-010!3b1!8m2!3d-23.5668153!4d-46.6567899!3m4!1s0x94ce59c5f5ce07c9:0xdedcbca2b61cdf75!8m2!3d-23.5668153!4d-46.6567899">Rua
            Pamplona - Jardim Paulista, São Paulo-SP</a>
        </div>
      </div>
      <div class="row">
        <img src="../assets/end/end.PNG" alt="Nosso endereco" style="width:100%;height:400px;">
      </div>
    </section>
  </div>
  <!-- Footer -->
  <footer class="page-footer font-small blue">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2018 Copyright:
      <a> Woliveiras</a>
    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->

</main>
<!--Main Layout-->